@model WebsiteKinhDoanhThucPhamChayAnPhuc.ViewModels.CartViewModel
<div class="alert alert-success">
    Bạn vừa mua hàng thành công! Chúng tôi sẽ gọi điện để xác nhận đơn hàng.  An Phuc xin cảm ơn!
</div>